* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}


  .navbar-menu {
    height:100vh;
    background-color:white;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
    transition: all 0.5s ease;
    
  }
  .burger{
    display:flex;
    justify-content: flex-end;
  }
  .burger img {
    padding: 25px 8px 0px 0px;
    cursor: pointer;
  }
  .navbar-list {
    list-style-type: none;
    
  }
  .navbar__li {
    display: inline-block;
    padding:0px 0px 0px 12px;
    position: relative;
    top:2.5px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #000000;
    font-family: "Lato";
    font-weight: 400;
  }
  .navbar__li-box:first-child {
    margin-top:53px;
  }
  .navbar__li-box {
    height: 43px;
    margin-top:15px;
  }
  .navbar__li-box:hover {
    border-left: 7px solid #58b5fc;
    cursor: pointer;
  }